<div class="container-fluid p-3 mt-3 shadow-lg rounded border text-black-50">
  <h1>Hello</h1>
  <label>What's on your mind</label>
  <form class="was-validated" (submit)="onAddPost(postForm)" #postForm="ngForm">
    <input type="text" class="form-control mb-3" placeholder="Title for your post !" name="title" ngModel required
      minlength="3">
    <textarea class="form-control" id="validationContent" placeholder="Type the content of your post !" name="content"
      ngModel required></textarea>

    <button class="btn btn-info my-3" type="submit">Post</button>
  </form>
</div>
